.home {
	margin: 0 auto;
	max-width: 1100px;
	min-width: 500px;
}
.middle_home{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.container {
  width: 100%;
}

@media screen and (max-width: 1222px) {
	.home {
		margin-left: 3.75rem;
	}
}