/* .sidebar {
    width: 100px;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    color: white;
    height: 100%;
    background-color: green;
  }
  
  .sidebar.open {
    width: 350px;
  }
  
  .toggle-button {
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar.open .toggle-button {
    transform: translateX(350px);
  }
  

.Fbars {
  width: 200px;
} */