.homeBld{
    width: 125px;
	height: 125px;
	/* margin-top: 20px; */
    margin-right: 3rem;
  }

.welcome{
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #02c385; */
	padding: 2rem 3rem;
    padding-right: 9rem;
	/* color: white; */
}

.welcomeIntro{
    font-size: 4rem;
	font-weight: bold;
	margin-bottom: 10px;
}

p{
    max-width: 60ch;
	font-size: 20px;
	line-height: 1.5;
}