.footer {
    background-color: white;
    position: relative;
    margin-top: 6rem;
    display: flex;
    border-bottom: 1px solid gray;
    gap: 100px;
    margin-bottom: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 150vw;
    height: 150%;
  }
  
  

  @media screen and (max-width: 1245px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
  