.navbar{
  display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 20px;
	/* color: #fff; */
    z-index: 2;
}
.logo{
	position: relative;
	margin-left: 10rem;
	/* right: -70px; */
	width: 20px;
	height: 20px;
}
/* .a{
padding-right: 30%
} */
.navbar-icons{
  margin-top: 30px;
  margin-left: 100px;
  position: relative;
  display: flex;
  right: 30px;
  /* left: -170px; */
  gap: 30px;
}


.navbar-links{
  position: relative;
  right: 100px;
	margin-right: 8rem;
	display: flex;
	gap: 100px;
	font-weight: bold;

}

.NavbarLogo{
  display: flex;
}

/* .logo{
  width: 40px;
	height: 40px;
} */
  