.product-header {
  margin-top: 6rem;
}

.product-grid {
  width: 100%;
	display: grid;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
	gap: 20px;
}

/* .product-item {
	width: 240px;
	height: 400px;
	object-fit: cover;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: 0.15s;
}

.product-item:hover {
	scale: 1.05;
}

.product-item img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.product-name-count div {
	display: flex;
	position: relative;
	gap: 10px;
	top: 2px;
	padding: 0.3rem;
	margin-right: 0.5rem;
}

.product-name-count {
	display: flex;
	justify-content: space-between;
}

.product-name-count p {
	white-space: nowrap;
	font-size: 1.1rem;
	position: relative;
	margin-left: 0.25rem;
	top: -10px;
} */